/*Go nuts kid*/


/*
    font-family: 'Droid Serif', serif;
    font-family: 'Bitter', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Amatic SC', cursive;
    font-family: 'Cinzel', serif;
    font-family: 'Sorts Mill Goudy', serif;
    */



body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:
    linear-gradient(
      to bottom right,
      #bb9043,
      #ffffff 70%
      );
}

.dog {
  font-family: 'Amatic SC', cursive;
  display: flex;
  height: 500px;
  width: 600px;
  margin:auto;
  padding: 15px, auto, 15px, auto;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:
    linear-gradient(
      to top left,
      #cc7645,
      #ffffff 70%
      );
}

.cinzel {
  font-family: 'Cinzel', serif;
  font-size: 3rem;
}

.cinzelsmall {
  font-family: 'Cinzel', serif;
  font-size: 1rem;
}

.droids {
  font-family: 'Droid Serif', serif;
  font-size: 1rem;
}

.bitter {
  font-family: 'Bitter', serif;
  font-size: 1rem;
}

.josefin {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
}

.mill {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1rem;
}

.flexbox{
  display: flex;
}
.flextest {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.flexb {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flexend{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.greenbox {
  height: auto;
  width: auto;
  margin: 15px;
  padding: 15px;
  background-repeat: no-repeat;
  background-attachment: local;
  background-image:
            linear-gradient(
              to left,
              #88567d,
              #a8976a 70%
              );
}

.bluebox {
  display: flex;
  height: 400px;
  width: 300px;
  margin: 15px;
  padding: 15px;
  background-repeat: no-repeat;
  background-attachment: local;
  background-image:
            linear-gradient(
              to left,
              #5dfe23,
              #6edf31 70%
              );

}

.flexRowReverse{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.flexColumnReverse{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}
