/*Go nuts kid*/


/*
    font-family: 'Droid Serif', serif;
    font-family: 'Bitter', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Amatic SC', cursive;
    font-family: 'Cinzel', serif;
    font-family: 'Sorts Mill Goudy', serif;
    font-family: 'IM Fell English SC', serif;
    font-family: 'Kurale', serif;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Spirax', cursive;

    */



body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:
    linear-gradient(
      to bottom right,
      #bb9043,
      #ffffff 70%
      );
}

.crate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.jar {
  /* font-family: 'Amatic SC', cursive; */
  display: flex;
  /* flex-wrap: wrap; */
  height: 100px;
  width: 200px;
  margin:auto;
  padding: 15px, 15px, 15px, 15px;
  justify-content: center;

}


.lid1 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:
    linear-gradient(
      to top left,
      #66c2ff,
      #ffffff 90%
      );
}

.lid2 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:
    linear-gradient(
      to top left,
      #339933,
      #ffffff 90%
      );
}


.lid3 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:
    linear-gradient(
      to top left,
      #d24dff,
      #ffffff 90%
      );
}

.lid4 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:
    linear-gradient(
      to top left,
      #ff1a1a,
      #ffffff 90%
      );
}

.lid5 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:
    linear-gradient(
      to top left,
      #66c2ff,
      #ffffff 90%
      );
}

.lid6 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:
    linear-gradient(
      to top left,
      #7ffa44,
      #ffffff 90%
      );
}

.dog {
  font-family: 'Amatic SC', cursive;
  display: flex;
  height: 500px;
  width: 600px;
  margin:auto;
  padding: 15px, auto, 15px, auto;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:
    linear-gradient(
      to top left,
      #cc7645,
      #ffffff 70%
      );
}

.cinzel {
  font-family: 'Cinzel', serif;
  font-size: 3rem;
}

.cinzelsmall {
  font-family: 'Cinzel', serif;
  font-size: 1rem;
}

.droids {
  font-family: 'Droid Serif', serif;
  font-size: 1rem;
}

.bitter {
  font-family: 'Bitter', serif;
  font-size: 1rem;
}

.josefin {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
}

.mill {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1rem;
}

.fell {
  font-family: 'IM Fell English SC', serif;
  font-size: 1rem;
}

.kurale {
  font-family: 'Kurale', serif;
  font-size: 1rem;
}

.fredericka {
  font-family: 'Fredericka the Great', cursive;
  font-size: 1rem;
}

.spirax {
  font-family: 'Spirax', cursive;
  font-size: 1rem;
}


.flexbox{
  display: flex;
}
.flextest {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.flexb {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flexend{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.greenbox {
  height: auto;
  width: auto;
  margin: 15px;
  padding: 15px;
  background-repeat: no-repeat;
  background-attachment: local;
  background-image:
            linear-gradient(
              to left,
              #88567d,
              #a8976a 70%
              );
}

.bluebox {
  display: flex;
  height: 400px;
  width: 300px;
  margin: 15px;
  padding: 15px;
  background-repeat: no-repeat;
  background-attachment: local;
  background-image:
            linear-gradient(
              to left,
              #5dfe23,
              #6edf31 70%
              );

}

.flexRowReverse{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.flexColumnReverse{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

.simple{
  text-decoration: none;

}

.brownbox{
  border: 5px solid;
  font-size: 2rem;
  /*border-width: 5px;*/
  border-color: #bc9999;
  /*linear-gradient(
              to left,
              #4aed42,
              #7faed1 70%
              );*/
  border-radius: 10px;
  padding: 5px;
}

.switchbutton input[type=checkbox]{
  display: none;
  padding: 20px;
}

.switchbutton label{
  display: inline-block;
  margin: 15px;
  background-color: #1ee3af;
}

.switchbutton input[type=checkbox]:checked+label{
  background-color: #99ffd2;
}


  /* linear-gradient(
    to bottom right,
    #bb9043,
    #ffffff 70 */
.buttonstyle {
  font-size: 1rem;
  border-radius: 10%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:
    linear-gradient(
      to bottom right,
      #c99969,
      #ffffff 70%
      );
  padding: 5px;
  margin: 5px;
  /*background-color: #33cca6;*/
  border: none;
}
